.wrap {
    display: flex;
    justify-content: space-evenly;
}

.todosWrap, .albumsWrap, .commentsWrap, .postWrap {
    border: 1px solid black;
    margin: 10px;
    padding: 3px;
    border-radius: 25px;
}

.butt {
    text-decoration: none;
}

button {
    margin: 3px;
    border-radius: 10px;
    border: 1px solid black;
}


